<!DOCTYPE html>
<html>
  <head>
    <title>MusicBoard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="main_header">
        <div class="main_title">
          <%= link_to "musicBoard", root_path, class: "main_title" %>
        </div>
        <div class="main_btn">
          <% if user_signed_in? %>
           <%= link_to "Logout", destroy_user_session_path, method: :delete %>
           <%= link_to "New Post", new_room_path %>
          <% else %>
            <%= link_to "Login", new_user_session_path %>
            <%= link_to "Signup", new_user_registration_path %>
          <% end %>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>

  <footer>
  </footer>
</html>
